<!-- NavBar -->
<div
  id="bottom-navbar"
  class="fixed z-50 py-3 px-3 transition-all duration-500 rounded-2xl shadow-3xl backdrop-blur-md nav-blur navbar-bottom hidden translate-y-full"
  style="max-width: 90%"
>
  <div
    class="flex flex-nowrap overflow-x-auto whitespace-nowrap justify-start px-1 no-scrollbar space-x-2"
  >
    <!-- Nav Items -->
    <a
      id="nav-opening"
      href="#opening"
      class="nav-item shrink-0 text-center py-1 px-3 rounded-full transition duration-300 hover:scale-110 active:bg-gray-200"
      onclick="scrollToSection(event, 'opening')"
    >
      <i class="fas fa-home text-lg"></i>
      <div class="text-xs font-semibold">Home</div>
    </a>

    <a
      id="nav-mempelai"
      href="#mempelai"
      class="nav-item shrink-0 text-center py-1 px-3 rounded-full transition duration-300 hover:scale-110 active:bg-gray-200"
      onclick="scrollToSection(event, 'mempelai')"
    >
      <i class="fas fa-user-friends text-lg"></i>
      <div class="text-xs font-semibold">Mempelai</div>
    </a>

    <a
      id="nav-ucapan"
      href="#ucapan"
      class="nav-item shrink-0 text-center py-1 px-3 rounded-full transition duration-300 hover:scale-110 active:bg-gray-200"
      onclick="scrollToSection(event, 'ucapan')"
    >
      <i class="fas fa-message text-lg"></i>
      <div class="text-xs font-semibold">Quotes</div>
    </a>

    <a
      id="nav-acara"
      href="#acara"
      class="nav-item shrink-0 text-center py-1 px-3 rounded-full transition duration-300 hover:scale-110 active:bg-gray-200"
      onclick="scrollToSection(event, 'acara')"
    >
      <i class="fas fa-calendar-alt text-lg"></i>
      <div class="text-xs font-semibold">Acara</div>
    </a>
    <a
      id="nav-maps"
      href="#maps"
      class="nav-item shrink-0 text-center py-1 px-3 rounded-full transition duration-300 hover:scale-110 active:bg-gray-200"
      onclick="scrollToSection(event, 'maps')"
    >
      <i class="fa-solid fa-map-location-dot text-lg"></i>
      <div class="text-xs font-semibold">Lokasi</div>
    </a>

    <a
      id="nav-rsvp"
      href="#rsvp"
      class="nav-item shrink-0 text-center py-1 px-3 rounded-full transition duration-300 hover:scale-110 active:bg-gray-200"
      onclick="scrollToSection(event, 'rsvp')"
    >
      <i class="fa-solid fa-handshake text-lg"></i>
      <div class="text-xs font-semibold">RSVP</div>
    </a>

    <a
      id="nav-gift"
      href="#gift"
      class="nav-item shrink-0 text-center py-1 px-3 rounded-full transition duration-300 hover:scale-110 active:bg-gray-200"
      onclick="scrollToSection(event, 'gift')"
    >
      <i class="fa-solid fa-gift text-lg"></i>
      <div class="text-xs font-semibold">Gift</div>
    </a>
    <a
      id="nav-penutup"
      href="#closing"
      class="nav-item shrink-0 text-center py-1 px-3 rounded-full transition duration-300 hover:scale-110 active:bg-gray-200"
      onclick="scrollToSection(event, 'closing')"
    >
      <i class="fas fa-heart text-lg"></i>
      <div class="text-xs font-semibold">Penutup</div>
    </a>
  </div>
</div>
