<!--Buka Container Ornament-->
<div id="opening-ornaments" class="absolute inset-0 pointer-events-none">
  <img
    data-animation-class="animate__fadeInTopLeft"
    class="ornament-item frame-tl top-0 left-0 absolute z-0 animate__slower lazy-load-img"
    src="/asset/images/tl.webp"
    onerror="this.src='https://placehold.co/150x150/C6915A/white?text=Top+Left'"
    alt="frame top left"
  />
  <img
    data-animation-class="animate__fadeInTopRight"
    class="ornament-item frame-tr top-0 right-0 absolute z-0 animate__slower lazy-load-img"
    src="/asset/images/tr.webp"
    onerror="this.src='https://placehold.co/150x150/C6915A/white?text=Top+Right'"
    alt="frame top right"
  />

  <!-- Ornament Bawah (Center Flower) -->
  <div
    class="ornamen-bawah right-0 bottom-0 w-full md:w-11/12 absolute z-0"
    style="transform: translate(0, 0)"
  >
    <div data-animation-class="animate__fadeIn" class="ornament-item animate__slower">
      <img
        src="/asset/images/bm.webp"
        alt="flowers"
        class="w-full"
        draggable="false"
        onerror="this.src='https://placehold.co/500x200/C6915A/white?text=Bottom+Flowers'"
      />
    </div>
  </div>

  <div
    class="frame-tl left-0 absolute top-0 z-0 ornament-item animate__slower"
    data-animation-class="animate__fadeInTopLeft"
  >
    <div class="animate-left" style="transform: translate(-5%, 145%)">
      <img
        class="w-100"
        src="/asset/images/tl-2.webp"
        alt="frame"
        style="transform-origin: bottom left; animation-delay: 120ms"
        onerror="this.src='https://placehold.co/150x150/C6915A/white?text=TL+Secondary'"
      />
    </div>
  </div>

  <div
    class="frame-tr right-0 absolute top-0 z-0 ornament-item animate__slower"
    data-animation-class="animate__fadeInTopRight"
  >
    <div class="animate-right" style="transform: translate(5%, 145%)">
      <img
        class="w-100"
        src="/asset/images/tr-2.webp"
        alt="frame"
        style="transform-origin: bottom right; animation-delay: 120ms"
        onerror="this.src='https://placehold.co/150x150/C6915A/white?text=TR+Secondary'"
      />
    </div>
  </div>

  <!-- Wayang Kiri -->
  <div
    class="anim-float-left ornamen-bawah left-0 bottom-0 w-[50%] absolute z-0 translate-x-[0%] translate-y-[10%]"
  >
    <div class="ornament-item animate__slower" data-animation-class="animate__fadeInBottomLeft">
      <img
        src="/asset/images/bl-2.webp"
        onerror="this.src='https://placehold.co/100x100/C6915A/white?text=Wayang+Kiri'"
        alt="Wayang Kiri"
        class="w-full"
        draggable="false"
      />
    </div>
  </div>
  <!-- Bunga Kiri -->
  <div
    class="anim-float-left ornamen-bawah left-0 bottom-0 w-[30%] absolute z-0 translate-x-[20%] translate-y-[5%]"
  >
    <div data-animation-class="animate__fadeInBottomLeft" class="ornament-item animate__slower">
      <img
        src="/asset/images/bunga-kiri.webp"
        onerror="this.src='https://placehold.co/100x100/C6915A/white?text=Bunga+Kiri'"
        alt="Bunga Kiri"
        class="w-full"
        draggable="false"
      />
    </div>
  </div>
  <!-- Wayang Kanan -->
  <div
    class="anim-float-right ornamen-bawah right-0 bottom-0 w-[50%] absolute z-0 translate-x-[0%] translate-y-[10%]"
  >
    <div data-animation-class="animate__fadeInBottomRight" class="ornament-item animate__slower">
      <img
        src="/asset/images/br-2.webp"
        onerror="this.src='https://placehold.co/100x100/C6915A/white?text=Wayang+Kanan'"
        alt="Wayang Kanan"
        class="w-full"
        draggable="false"
      />
    </div>
  </div>
  <!-- Bunga Kanan -->
  <div
    class="anim-float-right ornamen-bawah right-0 bottom-0 w-[30%] absolute z-0 translate-x-[-20%] translate-y-[5%]"
  >
    <div data-animation-class="animate__fadeInBottomRight" class="ornament-item animate__slower">
      <img
        src="/asset/images/bunga-kanan.webp"
        onerror="this.src='https://placehold.co/100x100/C6915A/white?text=Bunga+Kanan'"
        alt="Bunga Kanan"
        class="w-full"
        draggable="false"
      />
    </div>
  </div>
</div>
<!--Tutup Container Ornament-->
